
body {
    display: flex;
    padding: 0;
    margin-left: 3vw;
    overflow: hidden;
}

.main {
    float: left;
    width: 75vw;
    height: 98vh;
    border: 1px solid #DADADA;
    overflow: scroll;
}

::-webkit-scrollbar{
    width: 12.5px;
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 3px #fedb3f;
    background-color: #fff4e6;
}

.main h1 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    background-color: #83bf12;
    color: #304607;
}

.main h2, h3 {
    margin-bottom: -1vh;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.exercises a:link {
    color: #e5ee31;
    text-decoration: none;
}

.exercises a:visited {
    color: #eaf25a;
    text-decoration: none;
}

.exercises a:hover {
    color: #b4bd0f;
    text-decoration: none;
}

.exercises a:active {
    color: #b4bd0f;
}

.readings a:link {
    color: #33c5ff;
    text-decoration: none;
}

.readings a:visited {
    color: #b3ebff;
    text-decoration: none;
}

.readings a:hover {
    color: #2498c2;
    text-decoration: none;
}

.readings a:active {
    color: #2498c2;
}

.projects a:link {
    color: #f767bf;
    text-decoration: none;
}

.projects a:visited {
    color: #fbb6e1;
    text-decoration: none;
}

.projects a:hover {
    color: #da0b8b;
    text-decoration: none;
}

.projects a:active {
    color: #da0b8b;
}

.home a:link {
    color: #e37de8;
    text-decoration: none;
}

.home a:visited {
    color: #cb98cd;
    text-decoration: none;
}

.home a:hover {
    color: #aa00b3;
    text-decoration: none;
}

.home a:active {
    color: #aa00b3;
}

.resources a:link {
    color: #99e015;
    text-decoration: none;
}

.resources a:visited {
    color: #c9f37c;
    text-decoration: none;
}

.resources a:hover {
    color: #608c0d;
    text-decoration: none;
}

.resources a:active {
    color: #608c0d;
}

.content {
    margin: 0 8vw;
}

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
	height: 20vh;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}

.accordion {
    position: relative;
    width: 15vw;
    font-family: chantal, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.accordion a:link {
    color: inherit;
    text-decoration: none;
}

.accordion a:visited {
    color: unset;
    text-decoration: none;
}

.accordion a:hover {
    color: white;
    text-decoration: none;
}

.accordion a:active {
    color: white;
}

.accordion a.current {
    color: white;
}

.accordion p {
    margin: -0.5px 0;
}

.accordion-item {
    width: inherit;
    margin: 12.5px 0;
    background-color: #7d9e51;
    border-bottom: 1px solid #92b267;
    padding: 0.5em;
    color: #34441F;
    text-align: right;
    transition: width .25s ease;
}

.accordion-item:hover, .accordion-item--default {
    width: 18vw;
}

.accordion-item-content {
    font-family: chantal, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ai-yellow {
    background-color: #e5ee31;
    color: #444706;
    border-bottom: none;
}

.ai-blue {
    background-color: #69bfe2;
    color: #0c3240;
    border-bottom: none;
}

.ai-pink {
    background-color: #f767bf;
    color: #490431;
    border-bottom: none;
}

.ai-green {
    background-color: #83bf12;
    color: #304607;
    border-bottom: none;
}

.ai-purple {
    background-color: #7f3e82;
    color: #321934;
    border-bottom: none;
}

@media (max-width: 991px) {
    body {
        overflow: scroll;
        overflow-wrap: break-word;
        margin-left: unset;
    }

    .main {
        width: 65vw;
    }

    .accordion {
        width: 25vw;
    }

    .accordion h1 {
        font-size: 18px;
    }

    .accordion p {
        font-size: 12px;
    }

    .accordion:hover .accordion-item:hover .accordion-item-content,
    .accordion .accordion-item--default .accordion-item-content {
        height: 20vh;
    }

    .accordion-item:hover, .accordion-item--default {
        width: 30vw;
    }
}

@media (max-width: 767px) {
    body {
        overflow: scroll;
        overflow-wrap: break-word;
        margin-left: unset;
    }

    .main {
        width: 65vw;
    }

    .accordion {
        width: 25vw;
    }

    .accordion h1 {
        font-size: 18px;
    }

    .accordion p {
        font-size: 12px;
    }

    .accordion:hover .accordion-item:hover .accordion-item-content,
    .accordion .accordion-item--default .accordion-item-content {
        height: 20vh;
    }

    .accordion-item:hover, .accordion-item--default {
        width: 30vw;
    }
}