.box {
	width:200px; 
    height:300px; 
    display:inline-block; 
    border:1px solid #000;
    position:relative;
}

.letter-a {
	position: absolute;
	width: 200px;
	height: 300px;
	background-color: black;
	border-radius: 100px 100px 0 0;
}

.letter-a:before {
	content: "";
	position: absolute;
	height: 200px;
	width: 50px;
	top: 100px;
	left: 75px;
	background-color: white;
	border-radius: 100px 100px 0 0;

}

.letter-a:after {
	content: "";
	position: absolute;
	width: 200px;
	height: 75px;
	top: 125px;
	background-color: black;
}

.letter-b {
	position: absolute;
	width:75px; 
    height:300px; 
    background-color: black;
}

.letter-b:before {
	content: "";
	position: absolute;
	height: 150px;
	width: 175px;
	background-color: black;
	border-radius: 0 75px 75px 0;
}

.letter-b:after {
	content: "";
	position: absolute;
	height: 25px;
	width: 25px;
	top: 62.5px;
	left: 75px;
	background-color: white;
	border-radius: 0 75px 75px 0;
}

.b-child {
	position: absolute;
	width: 200px; 
    height:200px; 
    top: 100px;
    background-color: black;
    border-radius: 0 100px 100px 0;
}

.b-child:before {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	top: 75px;
	left: 75px;
	background-color: white;
	border-radius: 0 75px 75px 0;
}

.letter-c {
	position: absolute;
	width:200px; 
    height:300px; 
    background-color: black;
    border-radius: 200px 0 0 200px;
}

.letter-c:before {
	content: "";
	position: absolute;
	height: 150px;
	width: 100px;
	top: 75px;
	left: 100px;
	border-radius: 200px 0 0 200px;
	background-color: white;
}

.letter-d {
	position: absolute;
	width: 175px; 
    height:275px; 
    border: 10px solid black;
    border-radius: 0 100% 0 0;
}

.letter-e {
	position: absolute;
	width: 175px; 
    height:275px; 
    border: 10px solid black;
    border-radius: 100% 0 0 0;
    border-color: black transparent black black;
}

.letter-e {
	position: absolute;
	width: 175px; 
    height:275px; 
    border: 10px solid black;
    border-radius: 100% 0 0 0;
    border-color: black transparent black black;  
}

.letter-e:before {
	content: "";
	position: absolute;
	width: 100px; 
    height:150px; 
    left: 5px;
    border: 10px solid red;
    border-radius: 100% 0 0 0;
    border-color:  transparent transparent black transparent;  
}

.letter-f {
	position: absolute;
	width: 175px; 
    height:275px; 
    border: 10px solid black;
    border-radius: 100% 0 0 0;
    border-color: black transparent transparent black;
}

.letter-f:before {
	content: "";
	position: absolute;
	width: 100px; 
    height:150px; 
    left: 5px;
    border: 10px solid red;
    border-radius: 100% 0 0 0;
    border-color:  transparent transparent black transparent; 
}