* {
    margin: auto;
    padding: 0;
}

body {
    margin-bottom: 50px;
}

h1 {
    font-family: times new roman, times, serif;
    font-style: normal;
    font-size: 70px;
}

h2 {
    font-family: times new roman, times, serif;
    font-style: normal;
    font-size: 40px;
}

p {
    font-family: Helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
}

img {
    display: inline-block;
    margin: 10px 5px;
}

.process-template {
    width: 80%;
}